body{
    background-color: rgb(158, 19, 19);
    font-family: Arial, sans-serif;
}

h1{
    color: white;
    font-size: 4.5em;
}

.texto{
    color: white;
    font-size: 2em;
}

.imagen{
    border: solid 10;
    border-color: aliceblue

}

#comida{
    width: 60em;

}

#comida2{
    width: 30em;

}

